* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, #071024 0%, #07132a 60%);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

::-webkit-scrollbar {
    width: 7px;
    background: #07132a;
}

::-webkit-scrollbar-thumb {
    background-color: #5a6bff;
    border-radius: 10px;
}

/* Head Section */
.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    backdrop-filter: blur(20px);
    z-index: 999;
    overflow: hidden;
}

.header .header-main {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-left: 4rem;
}

.header .header-main .header-logo {
    width: 52px;
    height: 52px;
    border-radius: 12px;
    background: linear-gradient(135deg, #5a6bff, #5a6bff);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Rubik';
    box-shadow: 0 6px 18px rgba(79, 70, 229, 0.12);
}

.header .header-main .header-logo h1 {
    font-size: 20px;
    font-weight: 400;
    color: #071024;
    font-family: 'Montserrat', sans-serif;
}

.header .header-main .header-logo-item h1 {
    font-size: 22px;
    margin: 0;
    background: linear-gradient(90deg, #5a6bff 0%, #B45CFF 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.header .header-main .header-logo-item p {
    margin: 0;
    font-size: 13px;
    color: #94a3b8;
}


.header .header-items nav {
    margin-right: 4rem;
}

.header .header-items nav a {
    margin-left: 4rem;
    font-size: 1.2rem;
    transform: translateY(80px);
    opacity: 0;
    position: relative;
    transition: opacity .5s, transform .5s;
}

.header .header-items nav a.show {
    opacity: 1;
    transform: translateY(0);
}

.header .header-items nav a:nth-child(1) {
    transition-delay: .2s;
}

.header .header-items nav a:nth-child(2) {
    transition-delay: .3s;
}

.header .header-items nav a:nth-child(3) {
    transition-delay: .4s;
}

.header .header-items nav a:nth-child(4) {
    transition-delay: .5s;
}


.header .header-items nav a.show.active,
.header .header-items nav a.show:hover {
    background: linear-gradient(90deg, #5a6bff 0%, #B45CFF 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.header .header-items nav a::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(90deg, #5a6bff 0%, #B45CFF 100%);
    transform: scale(0);
    transition: .3s;
}

.header .header-items nav a:hover::before {
    transform: scale(1);
}

.header .header-items nav a.active::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(90deg, #5a6bff 0%, #B45CFF 100%);
    transform: scale(1);
    transition: .3s;
}

.header .header-items nav a:hover::before {
    transform: scale(1);
    background: linear-gradient(90deg, #5a6bff 0%, #B45CFF 100%);
}


/*  Navbar Responsive  */
.nav-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

/* Header end */

.skills-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 25px 5px;
    padding-top: 100px;
}

.skills-main a button {
    width: 150px;
    padding: 15px 25px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    opacity: 0;
    transform: translateY(150px);
    box-shadow: 1px 1px 5px #7c88f8;
    transition: box-shadow .3s, color .3s, transform .8s .3s, opacity .8s .3s;
}

.skills-main a button.show {
    transform: translateY(0px);
    opacity: 1;
}


.skills-main button:hover {
    box-shadow: 0px 0px 10px 5px #5a6bff;
    color: #5a6bff;
}

.skills-main a:nth-child(2) button {
    transition: box-shadow .3s, transform .8s .6s, opacity .8s .6s;
}

.skills-main a:nth-child(4) button {
    transition: box-shadow .3s, transform .8s .6s, opacity .8s .6s;
}

.skills-main a:nth-child(6) button {
    transition: box-shadow .3s, transform .8s .6s, opacity .8s .6s;
}

.skills-main button .skills-link {
    display: none;
    padding-left: 5px;
}

.skills-main a button.active {
    color: #5a6bff;
    box-shadow: 0px 0px 10px 5px #5a6bff;
}


/* HTML Section */

.html {
    width: 100%;
    height: auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
}

.html .html-main {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.html .html-main .fa-brands {
    font-size: 5rem;
    color: #ff7043;
    opacity: 0;
    transform: translateY(-150px);
    transition: opacity .8s, transform .8s;
}

.html .html-main .fa-brands.show {
    opacity: 1;
    transform: translateY(0px);
}

.html .html-main h1 {
    background: linear-gradient(90deg, #5a6bff 0%, #B45CFF 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.2rem;
    opacity: 0;
    transform: scale(0);
    transition: opacity .8s, transform .8s;
}

.html .html-main h1.show {
    opacity: 1;
    transform: scale(1);
}

.html .html-main p {
    font-size: 1.2rem;
    color: #94a3b8;
    opacity: 0;
    transform: translateX(-150px);
    transition: opacity .8s, transform .8s;
}

.html .html-main p.show {
    opacity: 1;
    transform: translateX(0px);
}

.html .html-section1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.html .html-section1 .html-skills {
    width: 45%;
    height: 170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 30px;
    background-color: #16253f;
    border: 2px solid #242c3a;
    border-radius: 12px;
    opacity: 0;
    transform: translateX(-150px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.html .html-section1 .html-skills.show {
    opacity: 1;
    transform: translateX(0);
}

.html .html-section1 .html-skills:hover {
    transform: translateY(-8px);
    transition: transform .3s;
}

.html .html-section1 .html-skills h2 {
    width: 17ch;
    font-size: 1.7rem;
    color: #5a6bff;
    margin-bottom: 10px;
    position: relative;
}

.html .html-section1 .html-skills h2::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(90deg, #5a6bff 0%, #B45CFF 100%);
    transform: scale(1);
}

.html .html-section1 .html-skills p {
    font-size: 1rem;
    color: #94a3b8;
}

.html .html-section1 .html-skills .skill-bar {
    margin: 5px 0px;
    width: 100%;
    height: auto;
    background-color: rgb(80, 80, 80);
    border-radius: 12px;
}

.html .html-section1 .html-skills .skill-bar .skill-progress {
    width: 85%;
    height: 12px;
    background: linear-gradient(90deg, #5a6bff 0%, #B45CFF 100%);
    border-radius: 12px;
    animation: skillpercent 1s ease 1 forwards;
}

@keyframes skillpercent {
    from {
        width: 0%;
    }

    to {
        width: 90%;
    }
}



.html .html-section1 .html-skills .skill-percent {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.html .html-section1 .html-explain {
    width: 45%;
    height: 170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 30px;
    background-color: #16253f;
    border: 2px solid #242c3a;
    border-radius: 12px;
    opacity: 0;
    transform: translateX(150px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.html .html-section1 .html-explain.show {
    opacity: 1;
    transform: translateX(0);
}

.html .html-section1 .html-explain:hover {
    transform: translateY(-8px);
    transition: transform .3s;
}

.html .html-section1 .html-explain h2 {
    width: 11ch;
    font-size: 1.7rem;
    color: #5a6bff;
    margin-bottom: 10px;
    position: relative;
}

.html .html-section1 .html-explain h2::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(90deg, #5a6bff 0%, #B45CFF 100%);
    transform: scale(1);
}

.html .html-section1 .html-explain ul {
    font-size: 1rem;
    padding-left: 30px;
    color: #94a3b8;
}

.html .html-section2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.html .html-section2 .html-features {
    width: 45%;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 30px;
    background-color: #16253f;
    border: 2px solid #242c3a;
    border-radius: 12px;
    opacity: 0;
    transform: translateX(-150px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.html .html-section2 .html-features.show {
    opacity: 1;
    transform: translateX(0);
}

.html .html-section2 .html-features:hover {
    transform: translateY(-8px);
    transition: transform .3s;
    transition-delay: 0s !important;
}

.html .html-section2 .html-features h2 {
    width: 13ch;
    font-size: 1.7rem;
    color: #5a6bff;
    margin-bottom: 10px;
    position: relative;
}

.html .html-section2 .html-features h2::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0px;
    height: 2px;
    background: linear-gradient(90deg, #5a6bff 0%, #B45CFF 100%);
    transform: scale(1);
}

.html .html-section2 .html-features p {
    font-size: 0.8rem;
    color: #94a3b8;
}

.html .html-section2 .html-use {
    width: 45%;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 30px;
    background-color: #16253f;
    border: 2px solid #242c3a;
    border-radius: 12px;
    opacity: 0;
    transform: translateX(150px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.html .html-section2 .html-use.show {
    opacity: 1;
    transform: translateX(0);
}

.html .html-section2 .html-use:hover {
    transform: translateY(-8px);
    transition: transform .2s;
    transition-delay: 0s !important;
}

.html .html-section2 .html-use h2 {
    width: 18ch;
    font-size: 1.7rem;
    color: #5a6bff;
    margin-bottom: 10px;
    position: relative;
}

.html .html-section2 .html-use h2::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0px;
    height: 2px;
    background: linear-gradient(90deg, #5a6bff 0%, #B45CFF 100%);
    transform: scale(1);
}

.html .html-section2 .html-use p {
    font-size: 1rem;
    color: #94a3b8;
}

.html .html-more {
    width: 50%;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 30px;
    background-color: #16253f;
    border: 2px solid #242c3a;
    border-radius: 12px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.html .html-more.show {
    opacity: 1;
    transform: translateY(0);
}

.html .html-more:hover {
    transform: translateY(-8px);
    transition: transform .3s !important;
}

.html .html-more h2 {
    width: 10ch;
    font-size: 1.7rem;
    color: #5a6bff;
    margin-bottom: 10px;
    position: relative;
}

.html .html-more h2::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0px;
    height: 2px;
    background: linear-gradient(90deg, #5a6bff 0%, #B45CFF 100%);
    transform: scale(1);
}

.html .html-more ul {
    padding-left: 30px;
    color: #94a3b8;
}

.html .html-more ul li a {
    font-size: 1rem;
    color: #94a3b8;
}

.html .html-more ul li a:visited {
    color: purple;
}

.html .anchor {
    padding: 15px 30px;
    border-radius: 12px;
    background: linear-gradient(90deg, #5a6bff 0%, #B45CFF 100%);
    opacity: 0;
    transform: translateY(100px);
    transition: transform .5s, opacity .5s;
    margin-bottom: 20px;
}

.html .anchor.show {
    opacity: 1;
    transform: translateY(0px);
}

.html .anchor:hover {
    color: #07132a;
    transform: scale(1.1);
    transition: color .3s, transform .3s !important;
}

/* Footer */
footer {
    width: 100%;
    height: auto;
    padding: 15px;
    transition: .3s;
}

footer:hover {
    box-shadow: 0px 0px 5px 5px rgb(58, 58, 58);
}

footer .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-content h1 {
    font-size: 1rem;
    background: linear-gradient(90deg, #5a6bff 0%, #B45CFF 100%);
    -webkit-background-clip: text;
    color: transparent;
}



@media (max-width: 1024px) {
    #welcome-popup h1 {
        font-size: 2rem;
        margin-top: 0px;
    }

    .header .header-main .header-logo h1 {
        font-size: 1.4rem;
    }

    .header .header-main {
        margin-left: 2rem;
    }


    .header .header-items nav a {
        font-size: 0.9rem;
    }

    .html {
        padding-left: 15px;
        padding-right: 15px;
    }

    .html .html-main {
        width: 100%;
    }

    .html .html-main h1 {
        font-size: 2rem;
        text-align: center;
    }

    .html .html-main p {
        font-size: 1.2rem;
        text-align: center;
    }

    .html .html-section1 {
        margin-bottom: 0px;
    }

    .html .html-section2 {
        margin-bottom: 0px;
    }

    .html .html-section1 .html-skills,
    .html .html-section1 .html-explain,
    .html .html-section2 .html-features,
    .html .html-section2 .html-use,
    .html .html-more {
        width: 100%;
        margin-bottom: 20px;
        padding: 15px 30px;
    }

    .html .html-section1 .html-skills h2,
    .html .html-section1 .html-explain h2,
    .html .html-section2 .html-features h2,
    .html .html-section2 .html-use h2,
    .html .html-more h2 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {

    #welcome-popup h1 {
        font-size: 1.2rem;
        margin-top: 0px;
    }

    .header {
        overflow: visible;
    }

    .header .header-main .header-logo h1 {
        font-size: 1.2rem;
    }

    .header .header-main .header-logo-item a h1 {
        font-size: 1rem;
    }

    .header .header-main .header-logo-item p {
        font-size: 0.8rem;
    }

    .header .header-items nav {
        position: absolute;
        top: 70px;
        left: 50%;
        right: 0;
        background: #071024;
        backdrop-filter: blur(20px);
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        width: 50%;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 1.5rem 0;
        display: none;
        opacity: 1;
    }

    .header .header-items nav.show {
        display: flex;
        opacity: 1;
    }

    .header .header-items nav a {
        margin: 0;
        font-size: 1.4rem;
    }

    .nav-toggle {
        display: block;
    }
    
    .skills-main {
        display: none;
    }

    .html {
        padding-top: 80px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .html .html-main {
        width: 100%;
    }

    .html .html-main h1 {
        font-size: 1.1rem;
    }

    .html .html-main p {
        font-size: 0.8rem;
        text-align: center;
    }

    .html .html-section1 {
        margin-bottom: 0px;
    }

    .html .html-section2 {
        margin-bottom: 0px;
    }

    .html .html-section1 .html-skills,
    .html .html-section1 .html-explain,
    .html .html-section2 .html-features,
    .html .html-section2 .html-use,
    .html .html-more {
        width: 100%;
        margin-bottom: 20px;
        padding: 5px 10px;
    }

    .html .html-section1 .html-skills h2,
    .html .html-section1 .html-explain h2,
    .html .html-section2 .html-features h2,
    .html .html-section2 .html-use h2,
    .html .html-more h2 {
        font-size: 1.2rem;
    }

    footer {
        padding: 2px;
    }

    footer .footer-content h1 {
        text-align: center;
        font-size: 0.8rem;
    }
}